.containerLogo {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.logo {
  height: 24px;
}

.title {
  font-family: 'Signika', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-letter-primary);
  margin-left: 8px;
}
