.buttonAdd {
  width: 16em;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 34px;
  border: 1px solid var(--color-primary);
  font-family: 'Signika', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-letter-primary);
  outline: none;
}

.buttonAdd:focus {
  border-color: var(--color-secondary);
}

.buttonAdd:hover {
  cursor: pointer;
  background-color: var(--color-primary-A);
  border: 1px solid var(--color-primary-A);
  transition-duration: 250ms;
}
