.containerAddTask {
  width: 90%;
  min-height: 40px;
  background-color: var(--color-background-secondary);
  border-radius: 34px;
  border: 1px solid var(--color-background-secondary);
  margin-top: 28px;
  display: flex;
}

.containerAddTask:focus-within {
  /* coloca o focus nos children */
  border: 1px solid var(--color-primary);
}

.inputTask {
  width: 100%;
  background-color: transparent;
  border-radius: 34px;
  border: none;
  outline: none;
  padding-left: 16px;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
  font-size: 16px;
  color: var(--color-letter-secondary);
}

.inputTask:hover {
  cursor: text;
}

.buttonAdd {
  width: 6em;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 34px;
  border: 1px solid var(--color-primary);
  font-family: 'Signika', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-secondary);
  outline: none;
}

.buttonAdd:focus {
  border-color: var(--color-secondary);
}

.buttonAdd:hover {
  cursor: pointer;
  background-color: var(--color-primary-A);
  border: 1px solid var(--color-primary-A);
  transition-duration: 250ms;
}
