.containerStatusCompleted {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.titleStatus {
  font-family: 'Signika', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-letter-primary);
}

.status {
  font-family: 'Signika', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-letter-primary);
}

.wrapperStatus {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.statusEx {
  margin-top: 4px;
  width: 100%;
  height: 10px;
  border: 1px solid var(--color-status-secondary);
  border-radius: 10px;
}

.statusIn {
  height: 8px;
  border: 1px solid var(--color-background-primary);
  border-radius: 10px;
  background-color: var(--color-status-primary);
  transition-duration: 250ms;
}
